$blue: #056ef0;
/*http://cssnext.io/features/*/
:root {
  --fontSize: 1rem;
  --mainColor: white;

  --danger-theme: {
    color: white;
    background-color: red;
  }
}

@custom-media --viewport-medium (width <= 50rem);
@media (--viewport-medium) {
}

@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;
:--button:--enter {
  background: yellow;
}
.App {
  text-align: center;
  foo-bar: 33;
  color: #4fd;

  & .App-header {
    background-color: $blue;
    height: 150px;
    padding: 20px;
    color: var(--mainColor);
    /* @apply --danger-theme;*/
    font-size: calc(var(--fontSize) * 2);
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
