<form method="post">
    <div class="form-group">
        <label for="routeName">Route Name</label>
        <input type="text" class="form-control" id="routeName" placeholder="Enter valid route (regex)" value="${route}">
    </div>
    <div class="form-group">
        <label for="json">Json Response</label>
        <textarea class="form-control" id="json" rows="10" cols="50" placeholder="Enter json [] response for route">${pretify(
                  json
                )}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>